@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2|Gotu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: black;
  color: #fff;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 18px;
  /*  Background image  */
  background: url(./public/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  max-width: 750px;
  width: 100%;
  margin-top: 32px;
  background-color: #5a7fa9;
  opacity: 0.7;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 75vh;
  opacity: 1;
}

#title {
  margin-top: 28px;
  font-size: 50px;
}

#description {
  font-family: 'Gotu', sans-serif;
  font-size: 14px;
  line-height: 1;
}

#submit {
  background-color: green;
  border: 1px solid green;
  border-radius: 6px;
  color: #fff;
  width: 90%;
  padding: 11px;
  margin-top: 28px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 8px;
  font-size: 22px;
}
.form-group label {
  margin-bottom: 4px;
}
textarea {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
}
